<<<<<<< HEAD
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


header, .hero {
    position: relative;
   
    max-width: 90vw;
    margin: 0 auto;
    justify-content: space-between;
    background-color: yellow;
=======
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.main-header {
  width: 100%;

  padding: 0px;
  padding-bottom: 100px;
  padding-top: 50px;
  z-index: -2;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
  width: 49%;
}

.main-header__brand {
  padding-left: 100px;
  color: black;
  text-decoration: none;
  font-size: 22px;
}

.main-header__brand span {
  font-weight: bold;
>>>>>>> a03ac4b94969e8c1efcba7438d97f0aebbb658b7
}

.stylized-1 {
  position: absolute;
  left: 52%;
  top: -20%;
  display: inline-block;
  width: 60%;
  height: 60%;
  z-index: -1;
  background-color: red;
  border-radius: 300px;
}

<<<<<<< HEAD


.header-logo {
  
   width: 50%;

}

.nav-wrapper {
    width: 50%;
}
 
ul {
    
    padding:0px;
    
}

li {
    display:inline-block;
    padding-right: 10px;
}



.hero {

    background-color: orange;
   
}

.conceptdiv {
    min-width: 50%;
    background-color: blue;

}

header {

    height:100px;
    display: flex;
}
=======
.stylized-2 {
  position: absolute;
  left: 80%;
  top: -20%;
  display: inline-block;
  width: 600px;
  height: 600px;
  z-index: -1;
  background-color: red;
  border-radius: 70%;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: 40%;
  padding-right: 40px;
  vertical-align: middle;
  font-size: 22px;
}

.main-nav__items {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item--cta {
  padding-right: 8px;
}
.main-nav__item a {
  text-decoration: none;
  color: white;
  padding: 3px 0;
}

#hero-element {
  padding-left: 100px;
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
#hero-image-container {
  display: inline-block;

  width: calc(40%);
  height: 528px;
  vertical-align: middle;
}

#hero-image-container .image {
  width: 90%;
  height: 80%;
  max-width: 100%;
  max-height: 100%;
  background: url("../hero-element-background.jpg");
  background-repeat: no-repeat;
  border: solid rgba(255, 0, 0, 0);
  border-right: 30px;
}
>>>>>>> a03ac4b94969e8c1efcba7438d97f0aebbb658b7
