html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


header, .hero {
    position: relative;
   
    max-width: 90vw;
    margin: 0 auto;
    justify-content: space-between;
    background-color: yellow;
}




.header-logo {
  
   width: 50%;

}

.nav-wrapper {
    width: 50%;
}
 
ul {
    
    padding:0px;
    
}

li {
    display:inline-block;
    padding-right: 10px;
}



.hero {

    background-color: orange;
   
}

.conceptdiv {
    min-width: 50%;
    background-color: blue;

}

header {

    height:100px;
    display: flex;
}