li {
    display:inline-block;
}


header, .hero {
    display: flex;
    max-width: 90vw;
    margin: 0 auto;
    justify-content: space-between;
    background-color: yellow;
}


.header-logo {
    max-width: 50%;
    
}

.nav-wrapper {
    margin-right: 42%;
}
 

.hero {

    background-color: orange;
   
}

.conceptdiv {
    min-width: 50%;
    background-color: blue;

}

